<?xml version="1.0" encoding="UTF-8"?>
<server description="Server configuration for PostgreSQL connection">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-7.0</feature>
        <feature>mpOpenAPI-4.0</feature>
        <feature>mpHealth-4.0</feature>
        <!-- Persistencia -->
        <feature>persistence-3.1</feature>
    </featureManager>

<!--    <keyStore id="defaultKeyStore"
              location="${server.config.dir}/resources/security/innova-local.p12"
              type="PKCS12"
              password="SuperPass123"/>
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" keyAlias="appkey"/>-->



    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9090"
                  httpsPort="9494" />

    <basicRegistry id="basic" realm="BasicRealm" />


    <dataSource id="defaultDataSource" jndiName="jdbc/Innova" type="javax.sql.DataSource">
        <jdbcDriver libraryRef="postgresql-library"/>

        <properties.postgresql
                user="${env.DB_USER}"
                password="${env.DB_PASSWORD}"
                databaseName="${env.DB_NAME}"
                serverName="${env.DB_HOST}"
                portNumber="6543"/>


        <!-- Pool esto sirver apara las maxima conexion funciona muy bien con supabase -->
         <connectionManager maxPoolSize="10" minPoolSize="2" maxIdleTime="400s"/>
    </dataSource>

    <library id="postgresql-library">
        <file name="${server.config.dir}/postgresql-42.7.6.jar"/>
    </library>


    <basicRegistry id="basic" realm="BasicRealm">
        <user name="${env.BSR_USER}" password="${env.BSR_PASSWORD}"/>
        <group name="${env.BSR_GROUP}">
            <member name="${env.BSR_MEMBER}"/>
        </group>
    </basicRegistry>

</server>
